body {
    font-family: 'Open Sans',
    sans-serif;
}
.container {
    max-width: 1090px;
    margin: 0 auto;
}
.header_li {
    display: inline-block;
    margin-right: 47px;
}
.header_li > a {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}
.header_ul {
    text-align: center;
}
.header {
    padding: 40px 0;
}
.bg-section {
    margin: 0 auto;
    padding: 112px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../img/pexels-harrison-candlin-2441454\ 1.png');
    text-align: center;
}
.bg-text {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: white;
}

.bg-button {
   font-size: 36px;
   line-height: 49px;
   text-align: center;
   color: #162C38;
    width: 420px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.bg-section2 {
    background: #E5E5E5;
}

.bg-text2 {
    max-width: 726px;
    margin: 0 auto;
    padding: 133px 134px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
   
    color: #FFFFFF;
}